<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="body">
		<div class="item-wrap">
			<div class="article" id="article">
				<div class="article-title">
					<h2>国家形象报告：中国为全球贡献多少就业机会？</h2>
				</div>
				<span class="label label-default">标签1</span> <span
					class="label label-default">标签2</span> <span
					class="label label-default">标签3</span> 
				<div><br/></div>
				<div>
					<span class="date">2017-10-21</span> <span class="time">13:49:59</span>
				</div>
				<hr>
				<div class="article-content">
					<p>你知道中国为全球贡献多少就业机会吗？</p>
					<p>中国已经成为很多国家和地区的重要合作和贸易伙伴，在你来我往的生意当中，也产生了不少的就业机会，您知道这有多少吗？今天的《国家形象报告》就来告诉您，中国为全球贡献了多少就业机会。</p>
					<div class="img-container">
						<img class="large"
							src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=1314411534,1863884063&amp;fm=173&amp;s=7C2810713D824F64029495CE0100C0B1&amp;w=620&amp;h=348&amp;img.JPEG">
					</div>
					<p>中国的世界竞争力再上升7个位次。你知道哪个指标起了关键作用吗？——“就业”。</p>
					<p>这个调查结果来自瑞士洛桑国际管理学院发布的《2017年度世界竞争力报告》。</p>
					<div class="img-container">
						<img class="large"
							src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=1268562740,3601724852&amp;fm=173&amp;s=29A87432018269470C7140C00100A0B0&amp;w=552&amp;h=349&amp;img.JPEG">
					</div>
					<p>在列入调查的全球63个主要经济体中，中国的“就业”表现名列首位。中国城镇新增就业连续4年每年超过1300万人，大城市调查失业率始终稳定在5%左右，低于发达国家2016年平均6.3%的失业率。</p>
					<div class="img-container">
						<img class="large"
							src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=983765731,1028582987&amp;fm=173&amp;s=FD98E0191A537ACA0E3CD8E70300D0A3&amp;w=571&amp;h=333&amp;img.JPEG">
					</div>
					<p>国际劳工组织报告显示，全球每年平均失业人口以220万的趋势增加。而过去这五年，中国却在为世界新增就业机会。央视联合中国外文局的调查显示，全球一万份电子问卷中，每10个外国人就有3个，认为自己能获得中国企业提供的就业机会。这其中，102家国企在全球185个国家和地区投资，促进当地33万人就业。仅“一带一路”180亿美元投资，就创造了16万以上的就业岗位。</p>
					<div class="img-container">
						<img class="large"
							src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1420758025,139413298&amp;fm=173&amp;s=6C01E41403104BC6E8E2F4C20300F0B9&amp;w=605&amp;h=341&amp;img.JPEG">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>