<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>

<meta charset="utf-8" />
<title>首页</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- bootstrap -->
<link rel="stylesheet"
	href="../../static/bootstrap/css/bootstrap.min.css"
	th:href="@{/bootstrap/css/bootstrap.min.css}" />

<style type="text/css">
body {
	font-family: 微软雅黑;
	font-size: 14px;
}
</style>

</head>
<body>
	<div th:fragment="topnav">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">NonegoBlog</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown"> Java <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">多线程</a></li>
								<li><a href="#">Netty</a></li>
							</ul></li>
						<li><a href="#">Linux</a></li>
						<li><a href="#">C/C++</a></li>
					</ul>
					<form class="navbar-form navbar-left">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="请输入关键字">
						</div>
						<button type="submit" class="btn btn-default">全站搜索</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">登录</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8">
				<div layout:fragment="content">
					<div th:fragment="body">
						<div class="item-wrap">
							<div class="article" id="article">
								<div class="article-title">
									<h2>国家形象报告：中国为全球贡献多少就业机会？</h2>
								</div>
								<span class="label label-default">标签1</span> <span
									class="label label-default">标签2</span> <span
									class="label label-default">标签3</span>
								<div>
									<br />
								</div>
								<div>
									<span class="date">2017-10-21</span> <span class="time">13:49:59</span>
								</div>
								<hr>
								<div class="article-content">
									<p>你知道中国为全球贡献多少就业机会吗？</p>
									<p>中国已经成为很多国家和地区的重要合作和贸易伙伴，在你来我往的生意当中，也产生了不少的就业机会，您知道这有多少吗？今天的《国家形象报告》就来告诉您，中国为全球贡献了多少就业机会。</p>
									<div class="img-container">
										<img class="large"
											src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=1314411534,1863884063&amp;fm=173&amp;s=7C2810713D824F64029495CE0100C0B1&amp;w=620&amp;h=348&amp;img.JPEG">
									</div>
									<p>中国的世界竞争力再上升7个位次。你知道哪个指标起了关键作用吗？——“就业”。</p>
									<p>这个调查结果来自瑞士洛桑国际管理学院发布的《2017年度世界竞争力报告》。</p>
									<div class="img-container">
										<img class="large"
											src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=1268562740,3601724852&amp;fm=173&amp;s=29A87432018269470C7140C00100A0B0&amp;w=552&amp;h=349&amp;img.JPEG">
									</div>
									<p>在列入调查的全球63个主要经济体中，中国的“就业”表现名列首位。中国城镇新增就业连续4年每年超过1300万人，大城市调查失业率始终稳定在5%左右，低于发达国家2016年平均6.3%的失业率。</p>
									<div class="img-container">
										<img class="large"
											src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=983765731,1028582987&amp;fm=173&amp;s=FD98E0191A537ACA0E3CD8E70300D0A3&amp;w=571&amp;h=333&amp;img.JPEG">
									</div>
									<p>国际劳工组织报告显示，全球每年平均失业人口以220万的趋势增加。而过去这五年，中国却在为世界新增就业机会。央视联合中国外文局的调查显示，全球一万份电子问卷中，每10个外国人就有3个，认为自己能获得中国企业提供的就业机会。这其中，102家国企在全球185个国家和地区投资，促进当地33万人就业。仅“一带一路”180亿美元投资，就创造了16万以上的就业岗位。</p>
									<div class="img-container">
										<img class="large"
											src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1420758025,139413298&amp;fm=173&amp;s=6C01E41403104BC6E8E2F4C20300F0B9&amp;w=605&amp;h=341&amp;img.JPEG">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4">
			<div> 目录视图</div>
			<div> 上一篇</div>
			<div> 下一篇</div>
			<div> 用户自己的广告 </div>
			<div> 站点的广告 </div>
			
			</div>
		</div>
	</div>
	<hr>
	<div>
		<footer class="footer navbar-fixed-bottom">
			<div class="container" align="center">Copyright &copy;2017
				linguanghuan</div>
		</footer>
	</div>
	<!-- 导航条 -->
	<!-- put the scripts below -->
	<script src="../../static/jquery/jquery-3.2.1.js"
		th:src="@{/jquery/jquery-3.2.1.js}"></script>
	<script src="../../static/bootstrap/js/bootstrap.min.js"
		th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>