<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>index</title>
</head>
<body>
	<h1>index</h1>
	<h2>
		user2: <span th:text="${user}"></span>
	</h2>
	<form id="login-form" th:action="@{/login}">...</form>
	<table>
		<tr>
			<td class="text" th:text="${user}"></td>
		</tr>
	</table>
	<div class="aaa">
		<div th:include="footer :: copy"></div>
	</div>
	<hr></hr>
	<div class="aaa">
		<div th:replace="footer :: copy"></div>
	</div>
</body>
</html>